<li ng-click="listItemCtrl.selectedListItem(listItemCtrl.listItem)" ng-class="listItem.selected ? 'active' : ''">
  <div class="listrap-toggle">
    <span></span>
    <img class="img-circle" ng-if='listItemCtrl.listItem.username' src="../../../../../img/Group_font_awesome.png" />
    <img class="img-circle" ng-if='listItemCtrl.listItem.title' src="../../../../../img/album.png" />
  </div>
  <div class="title" ng-if='listItemCtrl.listItem.title'>
    <span class="vm-header">Title:</span> {{listItemCtrl.listItem.title}}
  </div>
  <div class="title" ng-if='listItemCtrl.listItem.username'>
    <span class="vm-header">User Name:</span> {{listItemCtrl.listItem.username}}
  </div>
</li>
